#basic div{
    width: 100px;
    height: 100px;
    float: left;
    margin: 30px;
}
.bg-tr1{
    background-color: skyblue;
    transition: all;
    transition-timing-function: ease;
    transition-duration: 1s;
}
.bg-tr1:hover{
    background-color: blue;
}
.border-tr2{
    background-color: orange;
    border: 3px solid black;
    transition-timing-function: linear;
    transition-duration: 1.5s;
}
.border-tr2:hover{
    border: 3px solid red;
    border-radius: 50%;
}
.box3{
    float: left;
    margin: 30px auto;
    width: 100px;
    height: 100px;
    background-color: blue;
    color: white;
    border: 1px solid darkgray;
    transition-property: width, height;
    transition-duration: 2s, 1s;
}
.box3:hover{
    width: 200px;
    height: 120px;
}
.box4{
    margin: 50px auto;
    width: 100px;
    height: 100px;
    background-color: orange;
    border: 1px solid #222;
    transition: 2s ease-in;
}
.box4:hover{
    width: 200px;
    height: 200px;
    background-color: orangered;
    transform: rotate(270deg);
}
#ex div{
    float: left;
    width: 150px;
    height: 50px;
    margin: 5px 10px;
    padding: 5px;
    color: white;
    background-color: #006aff;
    border-radius: 5px;
    text-align: center;
    font-weight: bold;
}
#ex:hover div{
    height: 400px;
}
#ex .ease{
    transition: 3s ease;
}
#ex .linear{
    transition: 3s linear;
}
#ex .ease-in{
    transition: 3s ease-in;
}
#ex .ease-out{
    transition: 3s ease-out;
}
#ex .ease-in-out{
    transition: 3s ease-in-out;
}