table, th, td{
    border: 1px solid #ccc;
    border-collapse: collapse;
    margin: 0 auto;
}
th, td{
    padding: 10px 20px;
}

#container{
    width: 600px;
    border: none;
    margin: 0, auto;
}
div{
    border: 1px dotted #222;
    padding: 20px;
    margin: 20px;
}
#description{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
}
#package{
    border-bottom-left-radius: 30px;
    border-bottom-right-radius: 30px;
}
#round{
    border-radius: 25px;
}
#circle{
    border-radius: 50%;
}