p{
    font-style: italic;
}
.accent {
    border: 1px solid #000;
    padding: 5px;
    }
    .bg{
        background-color: #ddd;
    }
    #container {
        width: 500px;
        margin: 10px auto;
        padding: 10px;
        border: 1px solid green;
        background-color: greenyellow;
    }