li{
    display: inline-block;
    width: 300px;
    height: 200px;
    border-radius: 10px;
}
.grad1{
    background: blue;
    background: linear-gradient(to right bottom, white, blue);
}
.grad2{
    background: #f00;
    background: linear-gradient(45deg, #f00, #fff);
}
.grad3{
    background: #06f;
    background: linear-gradient(to bottom, #06f, white 30%, #06f);
}
.radial1{
    background: red;
    background: radial-gradient(white, yellow, red);
}
.radial2{
    background: red;
    background: radial-gradient(circle, white, yellow, red);
}